.ice_statement, .ice_inline {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid #888;
  white-space: pre;
  font-family: monospace;
  cursor: pointer;
  min-width: 20px;
  min-height: 20px;
}
.ice_block {
  position: relative;
  display: block;
  border-radius: 3px;
  border: 1px solid #888;
  min-height: 30px;
  margin-left: 10px;
}
.ice_block_drop_target, .ice_drop_target {
  position: absolute;
  left: 0;
  height: 10px;
  width: 20px;
  /*border: 1px solid #888;*/
  /*background-color: rgba(0, 0, 0, 0.3);*/
}
.ice_drop_target {
  bottom: -5;
}
.ice_block_drop_target {
  top: -5
}
.highlight {
  border: 1px solid #FF0;
  background-color: #FF0;
}
.blockish {
  position: absolute;
  border: 1px solid #888;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.ice_palette {
  width: 30%;
}
.ice_workspace {
  left: 30%;
  overflow: auto;
}

.ice_workspace > .ice_block {
  margin-left: 0px;
}

#editor {
  height: 300px;
  width: 600px;
  position: relative;
}

.ice_input {
  height: 20px;
  width: 20px;
  border: none;
  font-family: monospace;
}

.ice_segment ~ .ice_input {
  display: none;
}
