div.block {
  display: inline-block;
  border: 1px solid black;
  padding: 2px;
  font-family: monospace;
  white-space: pre;
  cursor: pointer;
  min-width: 20px;
}

div.socket {
  border: 1px solid black;
  min-width: 20px;
  min-height: 20px;
  vertical-align: baseline;
  display: inline-block;
}

div.block.ui-state-hover {
  border-bottom: 4px solid #888;
}

div.socket.ui-state-hover {
  outline: 3px solid #888;
}

div.block_socket.ui-state-hover {
  border-top: 4px solid #888;
}

div.block_socket {
  margin-left: 2em;
  border: 1px solid black;
  min-height: 20px;
}

div#out_wrapper {
  border: 1px solid #888;
  white-space: pre;
  font-family: monospace;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 500px;
  right: 0;
}

div#palette {
  border: 1px solid #888;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 500px;
}

div#workspace {
  border: 1px solid #888;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 500px;
  right: 500px;
}

input.input_socket {
  font-family: monospace;
  width: 20px;
  border: 1px solid black;
}
